@import '../../SASS/Variables/_Variables.scss';

.btmContain{
    @include center();
    
    flex-wrap: wrap;
    margin-top: -6%;

    .titleHeading{
        @include heading;
        font-size: 24px;
    }
    hr{
        @include hr;
    }
    
    .figContainer{
        display: flex;
        width: 100%;
    
        figure{
            flex: 1;
        }
  
        .btmImg{
            width: 25.7vw;
            height: 42.2vh;
            object-fit: cover;
            object-position: 0% 100%;
            flex-wrap: wrap;
        }
        .socialConatiner{
            display: flex;
        
            ul{
                width: 25.7vw;
                background-color: rgba(0, 0, 0, 0.562);
                display: flex;
                flex-wrap: wrap;
                
                li{
                    flex: 1;
                    color: $fontColorWhite;
                   list-style: none;
                }
                .picTitle{
                    @include bottomTitles(0 14vw 0 3vw);
                  width: 2%;
                 
                }
                .smallerTitle{
                    @include bottomTitles(0 12vw 0 3vw);
                    width: 2%;
                }
        }
        }
        button{
            @include buttons(16px, 5rem, 2rem);
            color:rgba(255, 255, 255, 0.836);
            margin-bottom:15%;
            text-transform: $buttonUpper;
            width: fit-content;
            font-size: 15px;
            font-weight: bold;
            
        }
       .txtBody{
           padding: 5% 0;
           font-size: $fontSize;
           width: 20vw;
       }
        }
        ul :nth-child(2),  ul :nth-child(3), ul :nth-child(4), ul :nth-child(5) {
            padding: 2% 0;
        }
        .middleFig{
            padding: 0 1vw;
        }
    }
    
    