@import '../../SASS/Variables/_Variables.scss';

.topContainer{
  @include center;
  .topTitle{
@include heading;
        .title{
            width: 50%;
            min-width: 40%;
            h3{
                font-size: 24px;
                width: 100%;
            }
        }
        .viewAll{
            width: 50%;
            p{
                width: 20%;
                 margin-left:83%;
                color: $btnColor;
                font-size: $fontSize;
                font-family: $fontFamily;
                cursor: pointer;
            }
        }
    }
        
    hr{
        @include hr;
    }
    .topFigs{
        @include gallery(39vw, 40vh);
        .fuji, .kyoto{
            margin-bottom: 7vh;
        }
        
    }
    .bottomFigs{
        @include gallery(26vw, 30vh);
        .midImg{
            margin-bottom: 12%;
        }
        .tokyo, .sapporo{
            margin-top: -13.6vh;
        }
    }
    
    
    
    figcaption{
        filter: brightness(100%);
        margin: -20vh 0 0 10vh;
        position: relative;
        font-size: 36px;
        color: $fontColorWhite;
        font-weight: bold;
        padding: 6vh 0;
    }
  span{
    padding-left: $spanSpace;
}
}
